<div class="row">
    <div class="col-sm-4 mt-5 offset-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employees</h5>
                <p class="card-text">Employee Coutner</p>
                <a href="/employeesCounter" class="btn btn-primary mt-4">Click here to go to Employee Counter</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title offset-3">Rooms</h5>
                <p class="card-text">Room Coutner</p>
                <a href="/roomsCounter" class="btn btn-primary mt-4">Click here to go to Room Counter</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-5 offset-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customer</h5>
                <p class="card-text">Customers Coutner</p>
                <a href="/customersCounter" class="btn btn-primary mt-4">Click here to go to Customers Counter</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hotels</h5>
                <p class="card-text">Hotels Coutner</p>
                <a href="/hotelsCounter" class="btn btn-primary mt-4 ">Click here to go to Hotels Counter</a>
            </div>
        </div>
    </div>
</div>