<div class="mt-5 col-md-4 offset-md-4 table table-bordered">
    <h2 style="text-align: center;">Payment Mode</h2>
<h4 style="color: aqua;">Total Amount {{totalAmount}}</h4>
<br>
    <div class="row">
       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Card Payment
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #paymentForm='ngForm' (ngSubmit)='printForm(paymentForm)'>
            <div class="form-group">
                <label for="name">Card Holder's Name:</label>
                <input type="text" placeholder="Enter the holders name..." name="name" #name='ngModel' ngModel required
                    pattern="[a-zA-z]+([\s][a-zA-z]+)*" minlength="6" maxlength="35" class="form-control">
                <div *ngIf='name.touched && name.invalid'>
                    <p class="text text-danger" *ngIf='name.errors.required'>This field is mandatory</p>
                    <p class="text text-danger" *ngIf='name.errors.minlength'>Minimum 6 character required</p>
                    <p class="text text-danger" *ngIf= 'name.errors.maxlength'>Maximum 35 characters required</p>
                    <p class="text text-danger" *ngIf='name.errors.pattern'>This Field accept only characters</p>
                </div>
            </div>
            <div class="form-group">
                <label for="amount">Amount To Pay:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                    </div>
                    <input type="number" class="form-control" name="amount" id="amount" required #amount='ngModel'
                        [(ngModel)]="totalAmount" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
    
                </div>
    
                <div class="form-group">
                    <label for="cardNo">Card Number:</label>
                    <input type="text" #cardNo='ngModel' ngModel placeholder="Enter the number..." name="cardNo" required
                        minlength="16" maxlength="16" cardNo pattern="[0-9]{16}" class="form-control">
                    <div *ngIf='cardNo.touched && cardNo.invalid'>
                        <p class="text text-danger" *ngIf='cardNo.errors.required'>This field is mandatory</p>
                        <p class="text text-danger" *ngIf='name.errors.pattern'>This field accept only Digit.</p>
                        <p class="text text-danger" *ngIf='cardNo.errors.maxlength'>maximum 16 numbers required</p>
                        <p class="text text-danger" *ngIf='cardNo.errors.minlength'>Minimum 16 numbers required</p>
                        <p class="text text-danger" *ngIf='cardNo.errors.cardNo'>This Field accept only numbers</p>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ExpYear">Expire</label>
                            <select id="ExpYear" class="form-control">
                                <option selected>years</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="months">Expire</label>
                            <select id="months" class="form-control">
                                <option selected>Months</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <form>
                       
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check" name="check" #check='ngModel' ngModel required check>
                                <label class="form-check-label" for="check">
                                    Check me out
                                </label>
                                <div *ngIf='check.touched && check.invalid'>
                                    <p class="text text-danger" *ngIf='check.errors.required'>This is Mandatory.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="payment(paymentForm)"
                            [disabled]='paymentForm.invalid'>Confirm</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Cancel</button>
                    </div>
    
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

        <button class="btn btn-warning" type="submit" (click)='paymentDone()'>
            Cash
        </button>
       
    </div>
    <!-- <form #paymentForm='ngForm' (ngSubmit)='printForm(paymentForm)'>
        <div class="form-group">
            <label for="name">Card Holder's Name:</label>
            <input type="text" placeholder="Enter the holders name..." name="name" #name='ngModel' ngModel required
                pattern="[a-zA-z]+([\s][a-zA-z]+)*" minlength="6" maxlength="35" class="form-control">
            <div *ngIf='name.touched && name.invalid'>
                <p class="text text-danger" *ngIf='name.errors.required'>This field is mandatory</p>
                <p class="text text-danger" *ngIf='name.errors.minlength'>Minimum 6 character required</p>
                <p class="text text-danger" *ngIf= 'name.errors.maxlength'>Maximum 35 characters required</p>
                <p class="text text-danger" *ngIf='name.errors.pattern'>This Field accept only characters</p>
            </div>
        </div>
        <div class="form-group">
            <label for="amount">Amount To Pay:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">₹</span>
                </div>
                <input type="number" class="form-control" name="amount" id="amount" required #amount='ngModel'
                    [(ngModel)]="totalAmount" disabled>
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>

            </div>

            <div class="form-group">
                <label for="cardNo">Card Number:</label>
                <input type="text" #cardNo='ngModel' ngModel placeholder="Enter the number..." name="cardNo" required
                    minlength="16" maxlength="16" cardNo pattern="[0-9]{16}" class="form-control">
                <div *ngIf='cardNo.touched && cardNo.invalid'>
                    <p class="text text-danger" *ngIf='cardNo.errors.required'>This field is mandatory</p>
                    <p class="text text-danger" *ngIf='name.errors.pattern'>This field accept only Digit.</p>
                    <p class="text text-danger" *ngIf='cardNo.errors.maxlength'>maximum 16 numbers required</p>
                    <p class="text text-danger" *ngIf='cardNo.errors.minlength'>Minimum 16 numbers required</p>
                    <p class="text text-danger" *ngIf='cardNo.errors.cardNo'>This Field accept only numbers</p>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ExpYear">Expire</label>
                        <select id="ExpYear" class="form-control">
                            <option selected>years</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="months">Expire</label>
                        <select id="months" class="form-control">
                            <option selected>Months</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>
                <form>
                   
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check" name="check" #check='ngModel' ngModel required check>
                            <label class="form-check-label" for="check">
                                Check me out
                            </label>
                            <div *ngIf='check.touched && check.invalid'>
                                <p class="text text-danger" *ngIf='check.errors.required'>This is Mandatory.</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="payment(paymentForm)"
                        [disabled]='paymentForm.invalid'>Confirm</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Cancel</button>
                </div>

            </div>
        </div>
    </form> -->
</div>