<!-- <div class="col-md-4 offset-md-4 mt-4">
    <form #RegistrationForm="ngForm" (ngSubmit)='RegisterUser(RegistrationForm)'>
        <div class="card">
            <div class="card-header">
                Please Register!!!
            </div>
            <div class="card-body">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">User Name</span>
                    </div>
                    <input type="text" name="userName" #userName='ngModel' pattern="[a-zA-z]+([\s][a-zA-z]+)*" ngModel
                        required class="form-control">
                </div>
             
                <div *ngIf='userName.touched && userName.invalid'>
                    <p class="text text-danger" *ngIf='userName.errors.required'>
                        This Field is Mandatory
                    </p>
                    <p class="text text-warning" *ngIf='userName.errors.pattern'>
                        The Field Accepts Only Characters
                    </p>
                </div>
             
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input type="email" name="userEmail" #userEmail='ngModel' ngModel
                        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required class="form-control" email>
                </div>
             
                <div *ngIf='userEmail.touched && userEmail.invalid'>
                    <p class="text text-danger" *ngIf='userEmail.errors.required'>
                        This Field is Mandatory
                    </p>
                    <p class="text text-warning" *ngIf='userEmail.errors.pattern'>
                        The Field Accepts Only Emails
                    </p>
                </div>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">password</span>
                    </div>
                    <input type="password" name="password" #password='ngModel' ngModel
                        pattern="^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])(?=\S*?[^\w\*])\S{8,}$" required minlength="5"
                        class="form-control">
                </div>
                
                <div *ngIf='password.touched && password.invalid'>
                    <p class="text text-danger" *ngIf='password.errors.required'>
                        This Field is Mandatory
                    </p>
                    <p class="text text-danger" *ngIf='password.errors.minlength'>
                        Minimum 8 Charaters Required
                    </p>
                    <p class="text text-warning" *ngIf='password.errors.password'>
                        The Field Accepts Only passwords
                    </p>
                    <p class="text text-warning" *ngIf='password.errors.pattern'>
                        Password must contain one uppercase, one smaller case,special character & number
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary"
                        [disabled]='RegistrationForm.invalid'>Register</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div> -->
<div id="register" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="register-cta">
                        <h1> Please Register!!!</h1>
                    </div>
                </div>

                <div class="col-md-5 col-md-pull-7">
                    <div class="register-form">
                        <form #RegistrationForm="ngForm" (ngSubmit)='RegisterUser(RegistrationForm)'>
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">User Name</span>
                                        </div>
                                        <input type="text" name="userName" #userName='ngModel' pattern="[a-zA-z]+([\s][a-zA-z]+)*" ngModel
                                            required class="form-control">
                                    </div>
                                 
                                    <div *ngIf='userName.touched && userName.invalid'>
                                        <p class="text text-danger" *ngIf='userName.errors.required'>
                                            This Field is Mandatory
                                        </p>
                                        <p class="text text-warning" *ngIf='userName.errors.pattern'>
                                            The Field Accepts Only Characters
                                        </p>
                                    </div>
                                 
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Email</span>
                                        </div>
                                        <input type="email" name="userEmail" #userEmail='ngModel' ngModel
                                            pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required class="form-control" email>
                                    </div>
                                 
                                    <div *ngIf='userEmail.touched && userEmail.invalid'>
                                        <p class="text text-danger" *ngIf='userEmail.errors.required'>
                                            This Field is Mandatory
                                        </p>
                                        <p class="text text-warning" *ngIf='userEmail.errors.pattern'>
                                            The Field Accepts Only Emails
                                        </p>
                                    </div>
                    
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">password</span>
                                        </div>
                                        <input type="password" name="password" #password='ngModel' ngModel
                                            pattern="^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])(?=\S*?[^\w\*])\S{8,}$" required minlength="5"
                                            class="form-control">
                                    </div>
                                    
                                    <div *ngIf='password.touched && password.invalid'>
                                        <p class="text text-danger" *ngIf='password.errors.required'>
                                            This Field is Mandatory
                                        </p>
                                        <p class="text text-danger" *ngIf='password.errors.minlength'>
                                            Minimum 8 Charaters Required
                                        </p>
                                        <p class="text text-warning" *ngIf='password.errors.password'>
                                            The Field Accepts Only passwords
                                        </p>
                                        <p class="text text-warning" *ngIf='password.errors.pattern'>
                                            Password must contain one uppercase, one smaller case,special character & number
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <button type="reset" class="btn btn-dark ">Reset</button>
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]='RegistrationForm.invalid'>Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>