<div class="row">
    <div class="col-sm-3 mt-5 offset-1">
      <div class="card">
        <div class="card-body" style="height: 450px;">
            <img src="/assets/images/hotel.jpg" class="offset-1" alt="">
          <h5 class="card-title" style="text-align: center;">Hotel Policies</h5>
          <p class="card-text">Guests shall be liable for any damage, except normal wear and tear to Hotel asset. Guest shall keep the Hotel room in a good condition and maintain hygiene and cleanliness. Certain policies are booking specific and are informed to the customer while making the booking.
        </p>
          <a href="#" class="btn btn-primary offset-3">View Policies</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-5">
      <div class="card">
        <div class="card-body" style="height: 450px;">
            <img src="/assets/images/facility.jpg" class="offset-1" style="width: 200px;" alt="">
          <h5 class="card-title" style="text-align: center;">Tariff Plan and Facilities</h5>
          <p class="card-text">Tariff is a charge of room rates and other facilities. Tariff or room charges may include meal or breakfast depending upon the plan as per the guest choices. Room charge also differs according to seasons. The plan taken by the guest also makes the difference in room rates.</p>
          <a href="#" class="btn btn-primary offset-1">View Tariff Plan and Facilities</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body" style="height: 450px;">
            <img src="/assets/images/food.jpg" class="offset-1" alt="">
            <h5 class="card-title" style="text-align: center;">Food Menu</h5>
            <p class="card-text">The best local ingredients are on the menu here at Hook & Plow for breakfast, lunch, and dinner. From a healthy or hearty breakfast, to a light or luscious lunch, or a simply divine dinner, no one serves up the Pacific Northwest better than we do. </p>
            <a href="#" class="btn btn-primary offset-2" >View Food Menu</a>
          </div>
        </div>
      </div>
  </div>